includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: max
    paths:
        - app
        - tests
    autoload_files:
        - bootstrap/autoload.php
    ignoreErrors:
        - '#Some classes cannot be autoloaded#'
